{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ecomerse</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'admn/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admn/util.css' %}">
   
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="POST" action="{%url 'admn'%}">
                    {% csrf_token %}
					<span class="login100-form-title p-b-51">
						Login
					</span>

					
					<div class="wrap-input100 validate-input m-b-16">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" >
						<input class="input100 inp" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="container-login100-form-btn m-t-17">
                        <input type="submit" class="login100-form-btn" value="LOGIN">						
					</div>

				</form>
				{% for message in messages %}
                    <p style="color: red;">{{message}}</p>
                   {% endfor %}
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

</body>
</html>