{% extends 'adhome.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'admn/css/adtabel.css' %}">

</head>
<body>
<div class="">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-6">
						<h2> Order-<b>Details</b></h2>
					</div>
					<div class="col-6">
						
						
					</div>
				</div>
            </div>
            <form class="form-inline" action="" method="POST" style="float:right">
                {% csrf_token %}
                <input type="text" id="myInput" onkeyup=" mFunction()" placeholder="Search" class="form-control mr-sm-2"  >
      
			  </form>
		
			<table  id="myTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
						order no:
						</th>
						<th>Date of Orderd</th>
						<th>Custmer Name</th>
						<th>Total</th>
						<th>status</th>
					</tr>
				</thead>
				<tbody>
				  {% for order in order%}
				  {% if order.complete == True %} 
				  
					
					<tr>
						<td>
							{{order.id}}
						</td>
						<td>{{order.date_orderd}} </td>
						<td>{{order.customer}}</td>
						<td>{{order.get_cart_total}}</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-light">{{order.value}}</button>
								<button type="button" class="btn btn-light dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
								  aria-expanded="false">
								  <span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu">
								   {% if order.value == 'pending' %}
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='shipped' %}">shipped</a>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='out for delivery' %}">out for delivery</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='completed' %}">completed</a>
									{%endif%}
								  	{%if order.value == 'shipped' %}
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='pending' %}">pending</a>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='out for delivery' %}">out for delivery</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='completed' %}">completed</a>
									{%endif%}
								  	{%if order.value == 'out for delivery' %}
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='pending' %}">pending</a>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='out for delivery' %}">shipped</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='completed' %}">completed</a>
									{%endif%}
								  {%if order.value == 'completed' %}
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='pending' %}">pending</a>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='out for delivery' %}">shipped</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="{% url 'checking' id=order.id value='completed' %}">out for delivery</a>
								  {%endif%}
								</div>
							  </div>

					</td>
							<td>
								
								
							</td>
					
						
						
				
						
						{%endif%}
						{%endfor%}
						
				
					</tr>
					
					
				</tbody>
			</table>
		
		</div>
	</div>        
</div>




<script>
	
	window.mytest=function(){
		var isValid =confirm("are you sure do you want delete ?");
		if(!isValid){
			event.preventDefault();
			alert("it wont be delete");
		}
	}
	function mFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[2];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html> 

{%endblock%}