{% extends 'adhome.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'admn/css/adtabel.css' %}">




<div class="">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-6">
						<h2> Product<b>Details</b></h2>
					</div>
					<div class="col-6">
						<a href="{% url 'productadd' %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
						
					</div>
				</div>
            </div>
            <form class="form-inline" action="" method="POST" style="float:right">
                {% csrf_token %}
                <input type="text" id="myInput" onkeyup=" myFunction()" placeholder="Search" class="form-control mr-sm-2"  >
      
              </form>
			<table  id="myTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							product_id
						</th>
						<th>Product Name</th>
						<th>Product Type</th>
						<th>Product Quantity</th>
						<th>Price</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
                    {% for product in product %}
					<tr>
						<td>
							{{product.id}}
						</td>
						<td><img src="{{product.imageURL}}" style="width: 35px" alt="">
							{{product.name}}</td>
						<td>{{product.product_type}}</td>
						<td>{{product.product_quantity}}</td>
						<td>${{product.price}}</td> 
						
						<td>
						
							<a href="{% url 'update' product.id %}" class="edit" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="{% url 'delete' product.id %}" onclick="window.mytest()" class="delete" id="delcheck" data-id="{{product.id}}"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
					{% endfor %}
					
				</tbody>
			</table>
			
		</div>
	</div>        
</div>

<script>
	
	window.mytest=function(){
		var v= document.getElementById("delcheck")
		var productid = v.dataset.id
		var isValid =confirm("are you sure do you want delete ?");
		if(!isValid){
			event.preventDefault();
			alert("it wont be delete");

		}
		window.location.href="/admin/adproduct" 
	}
	function myFunction() {
	  var input, filter, table, tr, td, i, txtValue;
	  input = document.getElementById("myInput");
	  filter = input.value.toUpperCase();
	  table = document.getElementById("myTable");
	  tr = table.getElementsByTagName("tr");
	  for (i = 0; i < tr.length; i++) {
		td = tr[i].getElementsByTagName("td")[1];
		if (td) {
		  txtValue = td.textContent || td.innerText;
		  if (txtValue.toUpperCase().indexOf(filter) > -1) {
			tr[i].style.display = "";
		  } else {
			tr[i].style.display = "none";
		  }
		}       
	  }
	}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



{%endblock%}