{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://kit.fontawesome.com/c0d12c7483.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    
	<link href="{% static 'main.css' %}" rel="stylesheet">
	<style>
		
#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

	</style>

	<script type="text/javascript">
		var user ='{{request.user}}'

		function getToken(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					var cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getToken('csrftoken');


		function getCookie(name){
			var cookieArr = document.cookie.split(";");

			for(var i =0;i< cookieArr.length;i++){
				var cookiePair = cookieArr[i].split("=");
				if(name == cookiePair[0].trim()){
					return decodeURIComponent(cookiePair[1])
				}
			}
			return null;

		}
		var cart =JSON.parse(getCookie('cart'))
		if(cart == undefined){
			cart={}
			console.log("cart was created")
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
			
		}
		console.log("cart:", cart)

	</script>
   
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> 7559953783</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> shafeeralihp@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="logo pull-left">
							<a href="index.html"><img src="{% static 'images/home/logo.png' %}" alt="" /></a>
						</div>
					</div>
					<div class="col-sm-6">
						{%  if request.user.is_authenticated %}
						<a href="{%url 'orderss' %} " style="margin-left: 290px;" class="btn btn-warning">Orders</a>
						{%endif%}
						<div style="float: right;"><p id="cart-total">{{cartItems}}</p></div> 
						
						<div class="shop-menu pull-right">
							
							<ul class="nav navbar-nav">
								
		 							   
								
								
								{%  if request.user.is_authenticated %}
								<li><a href="{%url 'userlogout'%}"><i class="fa fa-lock"></i> Logout</a></li>
								
								{%else%}
								  <li><a href="{%url 'userlogin'%}"><i class="fa fa-lock"></i> Login</a></li>
								{%endif%}
								<li><a href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Acessories<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">shoe</a></li>
										<li><a href="product-details.html">watch</a></li> 
										<li><a href="checkout.html">sunglass</a></li> 
										<!-- <li><a href="cart.html">Cart</a></li>  -->
										<!-- <li><a href="login.html">Login</a></li>  -->
                                    </ul>
                                </li> 
								<li class="dropdown"><a href="#">Apparel<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Shirts</a></li>
										<li><a href="blog-single.html">Pants</a></li>
                                    </ul>
                                </li> 
								
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
							
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	{% block content %}
	
	{% endblock %}
	
	<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<!-- <li><a href="#">Change Location</a></li> -->
								<!-- <li><a href="#">FAQ’s</a></li> -->
							</ul>
						</div>
					</div>
					
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<!-- <li><a href="#">Careers</a></li> -->
								<li><a href="#">Store Location</a></li>
								<!-- <li><a href="#">Affillate Program</a></li> -->
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				
			</div>
		</div>
		
	</footer><!--/Footer-->
	

	<script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'js/price-range.js' %}"></script>
    <script src="{%static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>