{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_tag %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for key,value in request.session.cart.items %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{value.image}}" style="width: 35px" alt=""></a>
							</td>
							<td class="cart_description">
								<h4 style="padding-bottom: 5%;"><a href="">{{value.name}}</a></h4>
								<p>{{value.id}}</p>
							</td>
							<div class="pt-5">
							<td class="cart_price">
								<p>${{value.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'item_increment' value.product_id %}"> + </a>
									<input class="cart_quantity_input" type="number" name="quantity" value="{{value.quantity}}" >
									<a class="cart_quantity_down" href="{% url 'item_decrement' value.product_id %}"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{ value.price|multiply:value.quantity }}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'item_clear' value.product_id %} "><i class="fa fa-times"></i></a>
							</td>
						</div>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> 

	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="total_area">
					<a class="btn btn-default update" href="{% url 'cart_clear' %}">Clear</a>
					<a class="btn btn-default check_out" href="">Check Out</a>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}