{% extends 'base.html'%}
{% block content %}
{% load static %}


	 <section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
				<ol class="breadcrumb">
					<li><h3>Items: <strong>{{order.get_cart_items}}</strong></h3></li>
					
					<li style="float: right;"><h3>Total:<strong> ${{order.get_cart_total}}</strong></h3></li>
						
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{item.product.imageURL}}" style="width: 35px" alt=""></a>
							</td>
							<td class="cart_description">
								<h4 style="padding-bottom: 5%;"><a href="">{{item.product.name}}</a></h4>
								<p></p>
							</td>
							<div class="pt-5">
							<td class="cart_price ">
								<p>${{item.product.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a data-product={{item.product.id}} data-action="add" class="cart_quantity_up update-cart" href=""> + </a>
									<input  class="cart_quantity_input" type="" name="quantity" value="{{item.quantity}}" >
									<a data-product={{item.product.id}} data-action="remove" class="cart_quantity_down update-cart" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{item.get_total}}</p>
							</td>
							<td class="cart_delete">
								<a  data-product={{item.product.id}} data-name="{{item.product.name}}" onclick="window.mycart()" id="checking" data-action="delete" class="cart_quantity_delete update-cart" href=" "><i class="fa fa-times"></i></a>
							</td>
						</div>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section> 

	<section id="do_action">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="total_area">
						<!--  -->
					<!-- <a href="" class="btn btn-default update">Clear</a> -->
					<a class="btn btn-default check_out" href="{% url 'checkout' %}">Check Out</a>
				</div>
				</div>
			</div>
		</div>
	</section> 
	<script>
		window.mycart=function(){
			var v= document.getElementById("checking")
			var productname = v.dataset.name
			console.log("id:",productname)
		
		var isValid =confirm("\t \tAre you sure !\n\n Do you want delete "+productname +" ?");
		if(!isValid){
			
			event.preventDefault();
			document.getElementById("checking").removeAttribute("data-action"); 
			// document.getElementById('checking').dataSet.remove('delete')
			alert("it wont be delete");
		}
	 	location.reload()
	}
	</script>
{% endblock %}