{% extends 'base.html' %}
{% block content %}
{% load static %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="{% url 'userlogin' %}" method="POST" >
							{% csrf_token %}
							<input name="username" type="text" placeholder="Name" />
							<input name="password" type="password" placeholder="password" />
							
							<button type="submit" class="btn btn-default">Login</button>
						</form>
						
						<p style="color: red;">{{error}}</p>
					
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="{% url 'register'%}" method="POST">
							{% csrf_token %}
							<input type="text" name="username" value="{{username}}" placeholder="username"/>
							<input type="email" name='email' value="{{email}}" placeholder="Email Address"/>
							<input type="password" name="password" placeholder="Password"/>
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
						{%for message in messages %}
						<p style="color: red;">{{message}}</p>
						{%endfor%}
					</div><!--/sign up form-->
				</div>
				
			</div>
		</div>
	</section><!--/form-->
	
{% endblock %}