{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'user/mobail.css' %}">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    

    <!-- Login Form -->
    <form action="{%url 'mobail' %}" method="POST">
        {% csrf_token %}
      <input type="tel" id="login" class="fadeIn second" name="number" placeholder="mobail number" pattern="[6-9]{1}[0-9]{9}" required>

      <input type="submit" class="fadeIn fourth" value="continue">
      {%for message in messages %}
      <p>{{message}}</p>
      {%endfor%}

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">back to login form</a>
    </div>

  </div>
</div>

{% endblock %}