{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="{% static 'user/mobail.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    

    <!-- Login Form -->
    <form action="{%url 'otp' %}" method="POST" >
      {%csrf_token%}
      <input type="text" id="login" class="fadeIn second" name="otp" placeholder="enter otp" required>

      <input type="submit" class="fadeIn fourth" value="submit">
      {%for message in messages %}
      <p>{{message}}</p>
      {%endfor%}

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
     
    </div>

  </div>
</div>

{% endblock %}