{% load static %}
  <link rel="stylesheet" href="{% static 'admn/css/userupadate.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
    <div class="col-md-4">
		<div class="form_main">
                <h4 class="heading"><strong>User </strong> Contact <span></span></h4>
                <div class="form">
                <form  method="POST" id="contactFrm" name="contactFrm" action="{% url 'userupdate' user.id%}">
                    {%csrf_token%}
                    <label for="">Username</label>
                    <input type="text" required="" value="{{user.username}}" name="name" class="txt" readonly>
                    <label for="">Mobail number</label>
                    <input type="text" required=""  value="{{user.last_name}}" name="number" class="txt">
                    <label for="">Email</label>
                    <input type="text" required="" value="{{user.email}}" name="email" class="txt">
                    
                	
                     <input type="submit" value="Save" name="submit" class="txt2">
                </form>
            </div>
            </div>
        </div>
	</div>
</div>
